Repository baggiponte/sklab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, ty-check, zensical-build, zizmor

ruff-format:
  name: ruff-format
  entry: uvx -- ruff format
  language: system

ruff-check:
  name: ruff-check
  entry: uvx -- ruff check --fix
  language: system

ty-check:
  name: ty-check
  entry: uvx -- ty check
  language: system

zensical-build:
  name: zensical-build
  entry: uv run zensical build --strict
  language: system
  pass_filenames: false

zizmor:
  name: zizmor
  entry: uvx -- zizmor
  language: system

docs: use diabetes dataset in regression tutorial (#12)
  docs/tutorials/basics-regression-census.md
Due: zensical-build

refactor: fix type warning
  src/sklab/experiment.py
Due: ruff-format, ruff-check, ty-check

chore: add plans to review tests
  plans/test-coverage-improvements.md
Due: zensical-build

fix: don't call .value in optuna
  src/sklab/_search/optuna.py
Due: ruff-format, ruff-check, ty-check

feat: annotate search results with best trial metadata (#13)
  Justfile
  plans/test-coverage-improvements.md
  src/sklab/_search/optuna.py
  src/sklab/experiment.py
  src/sklab/search.py
  src/sklab/type_aliases.py
  tests/conftest.py
  tests/test_experiment.py
Due: ruff-format, ruff-check, ty-check, zensical-build

refactor: use ScorerName and Scoring
  src/sklab/_search/optuna.py
  src/sklab/_search/sklearn.py
  src/sklab/adapters/search.py
  src/sklab/experiment.py
Due: ruff-format, ruff-check, ty-check

fix: resolve type narrowing issues with Scoring union type
  src/sklab/_search/optuna.py
  src/sklab/_search/sklearn.py
  src/sklab/experiment.py
Due: ruff-format, ruff-check, ty-check

feat: add ScorerName enum for type-safe scorer selection (#14)
  plans/scorer-types.md
  src/sklab/_search/optuna.py
  src/sklab/_search/sklearn.py
  src/sklab/adapters/search.py
  src/sklab/experiment.py
  src/sklab/type_aliases.py
  tests/test_experiment.py
  tests/test_scorer_names.py
Due: ruff-format, ruff-check, ty-check, zensical-build

feat(optuna): add study attribute to OptunaSearcher
  src/sklab/_search/optuna.py
Due: ruff-format, ruff-check, ty-check

feat(experiment): add .raw attribute to all Result dataclasses
  src/sklab/experiment.py
Due: ruff-format, ruff-check, ty-check

chore: remove unused ScorerName import
  src/sklab/_search/sklearn.py
Due: ruff-format, ruff-check, ty-check

refactor: improve typing
  src/sklab/experiment.py
Due: ruff-format, ruff-check, ty-check

test: add experiment result test
  tests/test_experiment.py
Due: ruff-format, ruff-check, ty-check

chore: allow running lint
  .claude/settings.local.json
Due: none

refactor: move result dataclasses to _results module
  src/sklab/_results.py
  src/sklab/experiment.py
Due: ruff-format, ruff-check, ty-check

docs: document .raw attribute in search tutorials
  docs/tutorials/optuna-search.md
  docs/tutorials/sklearn-search.md
Due: zensical-build

chore: narrow down filterwarning
  pyproject.toml
Due: none

feat: expose raw search objects via SearchResult.raw (#17)
  Justfile
  docs/tutorials/optuna-search.md
  docs/tutorials/sklearn-search.md
  plans/run-result-design-v2.md
  pyproject.toml
  src/sklab/_results.py
  src/sklab/_search/optuna.py
  src/sklab/_search/sklearn.py
  src/sklab/experiment.py
  tests/conftest.py
  tests/test_experiment.py
Due: ruff-format, ruff-check, ty-check, zensical-build

chore: add more settings
  .claude/settings.local.json
Due: none

docs: align scoring examples with API
  docs/developer/search-plugins.md
  docs/developer/writing-docs.md
  docs/glossary.md
  docs/index.md
  docs/tutorials/basics-classification-iris.md
  docs/tutorials/basics-regression-census.md
  docs/tutorials/cyclical-feature-engineering.md
  docs/tutorials/experiment.md
  docs/tutorials/logger-adapters.md
  docs/tutorials/optuna-advanced.md
  docs/tutorials/optuna-search.md
  docs/tutorials/sklearn-search.md
  docs/tutorials/time-series-forecasting.md
  docs/tutorials/titanic-classification.md
  docs/tutorials/why-pipelines.md
Due: zensical-build

docs: add uv-first install tabs
  docs/index.md
Due: zensical-build

docs: uv-first install tabs and concept admonitions (#20)
  docs/developer/writing-docs.md
  docs/index.md
  docs/tutorials/basics-classification-iris.md
  docs/tutorials/basics-regression-census.md
  docs/tutorials/cyclical-feature-engineering.md
  docs/tutorials/experiment.md
  docs/tutorials/logger-adapters.md
  docs/tutorials/time-series-forecasting.md
  docs/tutorials/titanic-classification.md
Due: zensical-build

feat(video): add color palette and typography system
  video/src/styles/colors.ts
  video/src/styles/fonts.ts
Due: none

feat(video): add reusable animation components
  video/src/components/CodeBlock.tsx
  video/src/components/ComparisonBadge.tsx
  video/src/components/GlowText.tsx
  video/src/components/Highlight.tsx
  video/src/components/Strikethrough.tsx
  video/src/components/TypewriterText.tsx
Due: none

feat(video): add main video composition
  video/src/Root.tsx
  video/src/SklabVideo.tsx
  video/src/index.ts
Due: none

chore(plans): add shap api plan
  plans/explain-api-design.md
Due: zensical-build

chore(plans): add v2 experiment tracking api
  plans/run-context-api-design.md
Due: zensical-build

docs: add SHAP explanation tutorials
  docs/tutorials/explain-shap-advanced.md
  docs/tutorials/explain-shap.md
Due: zensical-build

refactor(tests): rename data fixture and improve type annotations
  tests/conftest.py
  tests/explain/test_result.py
  tests/test_experiment.py
Due: ruff-format, ruff-check, ty-check

chore: rename PlotKind -> ExplainerPlotKind
  CLAUDE.md
Due: zensical-build

test: add type hints
  tests/test_experiment.py
Due: ruff-format, ruff-check, ty-check

chore: ignore sklearn warning
  pyproject.toml
Due: none

docs: restructure tutorials nav
  zensical.toml
Due: none

chore: ignore local claude settings
  .gitignore
Due: none

chore: make command async
  .claude/settings.json
Due: none

docs: add missing docstrings
  src/sklab/_search/optuna.py
  src/sklab/adapters/logging.py
  src/sklab/adapters/search.py
  src/sklab/experiment.py
  src/sklab/logging.py
Due: ruff-format, ruff-check, ty-check

chore(claude): configure post hooks
  .claude/settings.json
Due: none

chore(release): publish scikit-lab 0.0.1
  .github/workflows/publish.yml
  README.md
  docs/index.md
  plans/package-rename-scikit-lab.md
  pyproject.toml
  src/sklab/_logging/wandb.py
  uv.lock
Due: ruff-format, ruff-check, ty-check, zensical-build, zizmor

docs: fix README example (#25)
  README.md
Due: zensical-build

docs: update repo links after scikit-lab rename
  README.md
  docs/references.md
Due: zensical-build

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  ty-check: any of: \.py$
  zensical-build: any of: \.(md|markdown|mdown)$
  zizmor: any of: \.(yaml|yml)$
